@font-face {
  font-family: 'geomanist-light';
  src: url('./../fonts/geomanist-light-webfont.eot');
  src: url('./../fonts/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('./../fonts/geomanist-light-webfont.woff2') format('woff2'),
       url('./../fonts/geomanist-light-webfont.woff') format('woff'),
       url('./../fonts/geomanist-light-webfont.ttf') format('truetype'),
       url('./../fonts/geomanist-light-webfont.svg#geomanistregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geomanist-regular';
  src: url('./../fonts/geomanist-regular-webfont.eot');
  src: url('./../fonts/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./../fonts/geomanist-regular-webfont.woff2') format('woff2'),
       url('./../fonts/geomanist-regular-webfont.woff') format('woff'),
       url('./../fonts/geomanist-regular-webfont.ttf') format('truetype'),
       url('./../fonts/geomanist-regular-webfont.svg#geomanistregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color1: #282b2c;
  --color2: #ddd3d0;
  --color3: palevioletred;
  --color4: #d9dbdc;
  --color5: #e58faa;
}

/* Small mobile */

h1 {
  font-size: 2.2em;
}

body {
  background-color: var(--color1);
  font-family: 'geomanist-regular';
}

h1 {
  font-weight: 400;
}

.highlight {
  color: var(--color3);
}

#section-one {
  background-color: var(--color1);
  color: var(--color2);
}

#about {
  background-color: var(--color4);
  color: var(--color1);
  padding-top: 8em;
  padding-bottom: 8em;
}
#portfolio {
  background-color: var(--color1);
  color: var(--color2);
  padding-top: 8em;
  padding-bottom: 8em;
}

svg {
  margin: 0.75em;
}

svg.monochrome g,
svg.monochrome path,
svg.monochrome polyline,
svg.monochrome polygon {
  fill: var(--color2);
}

svg.monochrome:hover g,
svg.monochrome:hover path,
svg.monochrome:hover polyline,
svg.monochrome:hover polygon {
  fill: white;
}

.nav-item {
  padding: 0 0.4em 0 0.4em;
}

a.nav-link {
  color: var(--color2);
  font-size: 0.9em;
}

a.nav-link:hover {
  color: white;
}

svg.monochrome:hover {
  cursor: pointer;
}

.p-light {
  font-family: 'geomanist-light';
}

a:hover {
  text-decoration: none;
}

.schools p {
  margin-top: -0.3em;
  margin-bottom: 0.3em;
}

.bg-dark {
  background-color: var(--color1) !important;;
  border-color: var(--color1);
}

.bg-light {
  background-color: var(--color2) !important;;
  border-color: var(--color2);
}

.not-fixed {
  position: absolute;
  top: 100vh;
  right: 0;
  left: 0;
  z-index: 1030;
}

.sticky {
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  z-index: 1030;
}

a {
  color: var(--color3); 
}

a:hover {
  color: var(--color5); 
  text-decoration: none;
}

.port-title {
  color: var(--color3); 
  font-size: 1.2em;
}

.port-tech {
  color: rgba(255, 255, 255, 0.5);
}

.port-description {
  font-size: 0.95em;
}

.carousel-uniform {
  object-fit: cover;
  margin-bottom: 1.75em;
}

.section-header {
  margin-bottom: 0.4em;
}

/* Bigger mobile+ */
@media (min-width: 400px) {
  h1 {
    font-size: 2.5em;
  }
}